extends layout

block link
  -var selected = 'overview';

block content
  h1.page-header Dashboard
    h2.sub-header Account Overview
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th Broker
            th Account Value
            th Stock Value
            th Cash
            th Gain
        tbody
          tr
            td 1
            td Robinhood
            td 15,000
            td 13,000
            td 2,000
            td +10%